-----
title: Mitglieder
kind: page
-----
<p>Hier finden sich ein paar Infos zu einigen unserer Mitglieder.</p>

<% @items.select { |i| i[:kind] == 'member' }.each do |member| %>
<h2><a id="<%= member[:title] %>"><%= member[:title] %></a></h2>
<ul>
  <% if member[:pgp] %>
  <li>PGP-Key: <a href="https://sks-keyservers.net/pks/lookup?op=get&search=<%= member[:pgp] %>"><%= member[:pgp] %></a></li>
  <% end %>
  <% if member[:url] %>
  <li>Website: <a href="<%= member[:url] %>"><%= member[:url] %></a></li>
  <% end %>
</ul>
<% end %>
