<article>
  <header><% if !@h then @h='h1' end %>
    <<%= @h %>><a href="<%= @article.path() %>"><%= @article[:title]%></a>
		<% if @article.attributes.has_key?(:subtitle) then %>
      <br/><small><%= @article[:subtitle] %></small>
    <% end %></<%= @h %>>
	</header>
  <div class="clearfix"></div>
	<section>
		<% if @extended then %>
      <%= article_summary(@article) %>
		<% end %>
	</section>
</article>

