<article>
  <header><% if !@h then @h='h1' end %>
    <<%= @h %>><a href="<%= @item.path() %>"><%= @item[:title]%></a>
		<% if @item.attributes.has_key?(:subtitle) then %>
      <br/><small><%= @item[:subtitle] %></small>
    <% end %></<%= @h %>>
    <%if @item[:kind]=='article' %>
    <p>
    <ul class="unstyled inline">
      <li><i class="icon-calendar"></i> <time itemprop="dateCreated" datetime="<%= @item[:created_at].strftime("%Y-%m-%d") %>"><%= @item[:created_at].strftime("%d.%m.%Y") %></time></li>
      <% if @item[:author] %><li><i class="icon-pencil"></i> @item[:author]</li><% end %>
      <% if @item[:refers_to] %><li><i class="icon-cogs"></i> <a href="<%= @items[sanitize_path(@item[:refers_to])].path() %>"><%= @items[sanitize_path(@item[:refers_to])][:title] %></a></li><% end %>
      <li><i class="icon-bookmark"></i> <a itemprop="url" href="<%= item.path() %>">Permalink</a></li>
    <% end %>
	</header>
  <div class="clearfix"></div>
	<section>
		<% if @extended then %>
      <%= article_summary(@item) %>
		<% end %>
	</section>
</article>

